html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 27px;
  color: #acb7c3;
  padding: 1rem 0;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.nav-link {
  color: #172b4d;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.slide {
  display: block;
  height: 3px;
  width: 25px;
  margin: 5px auto;
  background-color: #172b4d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.presentation {
  margin: 0 7vw;
  text-align: center;
  padding-top: 4rem;
}

.presentation-text {
  margin: 1rem 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 2rem;
  color: #172b4d;
}

.presentation > h1 {
  padding: 0 3rem;
}

.title {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3.2rem;
}

.dtitle {
  margin-top: 0;
  color: #36b37e;
}

.social-Icons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.circle-container {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.circle-fade {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.circle-fade i {
  font-size: 24px;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-fade::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(transparent, black);
  opacity: 0.2;
  animation: fade 2s infinite;
}

/* Defines the animation from the fade effect */
@keyframes fade {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

.recent-works {
  margin: 0 7vw;
}

.recent-works-header {
  margin-bottom: 4rem;
}

.recent-works-line {
  width: 15vw;
  height: 1vh;
  background-color: #36b37e;
  border-radius: 1.5rem;
}

.cards {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, auto);
  gap: 1rem;
}

.card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 52% 48%;
  background-color: #d0d9d4;
  border-radius: 10px;
}

.card-image {
  height: 16rem;
}

.card-text {
  background-color: #ebf0ee;
  text-align: center;
  border-radius: 10px;
  border: #d0d9d4 5px;
  margin: 1px;
}

.card-title {
  color: #3a4a42;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding: 0 3rem;
  margin: 1rem 0;
}

.card-tools-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 8px;
}

.card-tool {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: #d0d9d4;
  padding: 8px 12px;
  border-radius: 4px;
}

.see-project {
  background: #36b37f;
  border-radius: 4px;
  border: none;
  width: 122px;
  height: 48px;
  color: #fff;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-top: 0.4rem;
  cursor: pointer;
}

.about-me {
  background-image: url(./images/mobile/illustration-\ about\ me-\ mobile.png);
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  display: flex;
  flex-flow: row wrap;
}

.text {
  margin: 0 7vw;
  text-align: center;
  padding: 5rem 0;
}

.primary-text {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 0;
}

.supporting-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

.get-resume {
  width: 10rem;
  margin-top: 1rem;
}

.knowledge-cards {
  margin: 0 7vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

.knowledge-tol {
  background-color: #ebf0ee;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.knowledge-tol > img {
  margin-top: 1.5rem;
}

.tool-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  margin: 0;
}

.knowledge-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 0.5rem;
}

.tool {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 12px;
  width: auto;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.see-project:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  color: #fff;
}

.see-project:active {
  background: #008552;
}

.website-form {
  margin: 0 7vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.form-text {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  padding-right: 1rem;
}

.imput-contact {
  width: 100%;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6b778c;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding: 10px;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.5rem;
}

textarea {
  width: 100%;
  resize: vertical;
  border: 1px solid #60c095;
  border-radius: 4px;
  margin-bottom: 1rem;
}

textarea::placeholder {
  padding: 10px;
}

.email-address {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.footer-line {
  height: 8px;
  border-radius: 10px;
  background-color: #000;
  width: 35%;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  /* Mobile Menu */
  .hamburger {
    display: block;
    position: absolute;
  }

  .active {
    position: fixed;
    z-index: 6;
  }

  .hamburger.active .slide:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .slide:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .slide:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    display: block;
    position: fixed;
    left: -100%;
    top: 0%;
    gap: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    margin: 0;
    padding-top: 1rem;
    z-index: 5;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-link {
    color: #3a4a42;
  }

  .nav-menu.active {
    left: 0;
  }

  /* We add mobile background image */
  .content {
    background-image: url(./images/mobile/header-illsutration-mobile.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    display: flex;
    flex-flow: row wrap;
  }
}

/* Desktop version begins here */
@media screen and (min-width: 768px) {
  body {
    background-image: url(./images/desktop/Header-llustration-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
  }

  nav {
    justify-content: center;
  }

  .hamburger {
    display: none;
  }

  /* .nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
  } */

  /* .nav-link {
    color: #172b4d;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
  } */

  .content {
    margin-bottom: 28rem;
  }

  .title {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
  }

  .presentation {
    padding-top: 7rem;
  }

  .presentation-text {
    padding: 0 10rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
  }

  .about-me {
    background-image: none;
  }

  .grid-aboutme {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
  }

  .aboutme-grid-left {
    background-image: url(./images/desktop/illustration-about-me-left-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  .aboutme-grid-right {
    background-image: url(./images/desktop/illustration-about\ me-rigth-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }

  .text {
    grid-column: 2;
    padding: 0;
  }

  .knowledge-cards {
    margin: 5rem 7vw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
  }

  .form-text {
    width: 50%;
  }

  .Contact-background {
    padding-bottom: 15rem;
    background-image: url(./images/desktop/illustration-left-contact-form-desktop.svg), url(./images/desktop/illustration-2-contact-form-desktop.svg), url(./images/desktop/rigth-contact-form.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom left, bottom left 15%, bottom right;
  }

  form {
    width: 50%;
    justify-content: flex-start;
  }

  .email-address {
    display: none;
  }

  .footer-icons {
    border-top: #dfe1e6 solid 0.5px;
    margin-bottom: 0;
    padding: 1rem;
  }

  /* HOVER EFECTS */
  .icon,
  .footer-icons,
  .nav-menu,
  .nav-item {
    transition: transform 0.2s ease-in-out;
  }

  .icon:hover {
    transform: scale(1.5);
  }

  .nav-menu:hover,
  .nav-item:hover {
    transform: scale(1.3);
  }

  .footer-line {
    display: none;
  }

  /* Animations */
  .recent-works-line {
    animation-name: line-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes line-animation {
    from {
      transform: translateX(-150px);
    }

    to {
      transform: translateX(150px);
    }
  }

  .knowledge-tol > img {
    animation: float 3s ease-out infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }
}
